.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 13rem;
}

.Box {
  border: 2px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input {
  border: 2px solid black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  margin-top: 1.1rem;
  padding: 0.3rem 0.5rem;
  width: 100%;
}
